extends ../layout.pug
//-Muestro todas las publicaciones en general, sin incluir los comentarios
block content
    h1 Publicaciones
    p Bienvenido a la página de publicaciones. 

    div
        a(href='/publicacion/crearPublicacion') Crear nueva publicación

    div
        form(action="/publicaciones/buscar" method="GET")
            input(type="text", name="buscar", placeholder="Buscar por etiqueta o usuario")
            button(type="submit") Buscar

    div
        if Publicacion
            each post in Publicacion   
                div.publicacion
                    a(href=`/publicacion/${post.idPublicacion}`)
                        h2 #{post.titulo} 
                    h3 #{post.contenido}
                    if post.Imagens
                        each imagen in post.Imagens
                            img(src=imagen.src, style="width:300px")
                    if post.Etiqueta
                        each etiqueta in post.Etiqueta
                            p #{etiqueta.etiqueta}
                    p Creado #{new Date(post.createdAt).toLocaleDateString('es-AR')}
                    //-Autor
                    a(href=`/usuario/${post.Autor.username}`) Creado por: #{post.Autor.firstName || post.Autor.username}
                    //-MeGusta (Valoracion)
                    form(action=`/publicacion/${post.idPublicacion}/valoracion` method="POST")
                        select(name="puntuacion")
                            option(value="1") ⭐
                            option(value="2") ⭐⭐
                            option(value="3") ⭐⭐⭐
                            option(value="4") ⭐⭐⭐⭐
                            option(value="5") ⭐⭐⭐⭐⭐
                        button(type="submit") Valorar
                    p Promedio: #{post.Valoraciones ? (post.Valoraciones.reduce((a, b) => a + b.puntuacion, 0) / post.Valoraciones.length).toFixed(1) : 'Sin valoraciones'} ⭐
                    //-Cantidad de comentarios
                    a(href=`/publicacion/${post.idPublicacion}`) Comentarios (#{post.Comentarios ? post.Comentarios.length : 0})
        else
            h1 No se encontraron publicaciones
    

    