extends ../layout.pug

block content
    h1 Publicaciones
    p Bienvenido a la página de publicaciones. 

    div
        div
            a(href='/publicacion/crearPublicacion') Crear nueva publicación
    div 
        if Publicacion
            each post in Publicacion   
                div
                    h2 #{post.titulo} 
                div
                    h3 #{post.contenido}
                div
                    if post.Imagens
                        each imagen in post.Imagens
                            img(src=imagen.src, style="width:300px")
                div 
                    if post.Etiqueta
                        each etiqueta in post.Etiqueta
                            p #{etiqueta.etiqueta}
                div
                    p Creado #{new Date(post.createdAt).toLocaleDateString('es-AR')}
                div
                    a Creado por: #{post.Usuario.firstName || post.Usuario.username}
                div
                    a Me gusta Publicacion
                div
                    a Comentarios Publicacion
    

    