extends ../layout.pug

block content
    h1 Publicaciones
    p Bienvenido a la página de publicaciones. 

    div
        a(href='/publicacion/crearPublicacion') Crear nueva publicación

    div
        form(action="/publicacion/buscar" method="GET")
            input(type="text", name="buscar", placeholder="Buscar por etiqueta o usuario")
            button(type="submit") Buscar

    div
        if Publicacion
            each post in Publicacion   
                div.publicacion
                    a(href=`/publicacion/${post.idPublicacion}`)
                        h2 #{post.titulo} 
                    h3 #{post.contenido}
                    if post.Imagens
                        each imagen in post.Imagens
                            img(src=imagen.src, style="width:300px")
                    if post.Etiqueta
                        each etiqueta in post.Etiqueta
                            p #{etiqueta.etiqueta}
                    p Creado #{new Date(post.createdAt).toLocaleDateString('es-AR')}
                    a(href=`/usuario/${post.Autor.username}`) Creado por: #{post.Autor.firstName || post.Autor.username}
                    form(action=`/publicacion/${post.idPublicacion}/megusta` method="POST")
                        button(type="submit") Me gusta (#{post.MeGustas ? post.MeGustas.length : 0})
                    a(href=`/publicacion/${post.idPublicacion}`) Comentarios (#{post.Comentarios ? post.Comentarios.length : 0})
        else
            h1 No se encontraron publicaciones
    

    