extends ../layout.pug

block metadata
    title Usuario: #{Usuario ? Usuario.username : 'No encontrado'}

block content
    div.usuario
        if currentUser && currentUser.username === Usuario.username
            h1 Bienvenido #{Usuario.firstName || Usuario.username}
        else 
            h1 Perfil de #{Usuario.firstName || Usuario.username}
        p Cuenta creada desde el #{new Date(Usuario.createdAt).toLocaleDateString('es-AR')}          
        if Usuario.birthDate
            p Cumpleaños: #{Usuario.birthDate}
        a(href="#") seguidores
        a(href="#") siguiendo
        if !Usuario 
            h1 No se encontro el usuario
        a(href="#") editar
        a(href="#") denunciar

    div
        if Usuario.Publicaciones
            each post in Usuario.Publicaciones 
                div.publicacion
                    h2 #{post.titulo} 
                    h3 #{post.contenido}
                    if post.Imagens
                        each imagen in post.Imagens
                            img(src=`${imagen.metadata},${imagen.contenido.toString('base64')}` style="width:300px")
                    if post.Etiqueta
                        each etiqueta in post.Etiqueta
                            p #{etiqueta.etiqueta}  
                    p Creado #{new Date(post.createdAt).toLocaleDateString('es-AR')}
                    a(href=`/usuario/${post.Autor.username}`) Creado por: #{post.Autor.firstName || post.Autor.username}             
                    a Me gusta Publicacion
                    a Comentarios Publicacion