extends ../layout.pug

block metadata
    title Usuario: #{Usuario ? Usuario.username : 'No encontrado'}
//-Perfil del usuario
block content
    div.usuario
        //-Nombre del usuario
        if currentUser && currentUser.username === Usuario.username
            h1 Bienvenido #{Usuario.firstName || Usuario.username}
        else 
            h1 Perfil de #{Usuario.firstName || Usuario.username}
        p Cuenta creada desde el #{new Date(Usuario.createdAt).toLocaleDateString('es-AR')}
        //-Seguir
        if currentUser && currentUser.username !== Usuario.username
            form(action=`/usuario/${Usuario.username}/${Usuario.idUsuario}/seguir` method="POST")
                button(type="submit") #{esSeguido ? 'Dejar de seguir' : 'Seguir'}
        a(href=`/usuario/${Usuario.username}/seguidores`) Seguidores: #{Usuario.Seguidores ? Usuario.Seguidores.length : 0}
        a(href=`/usuario/${Usuario.username}/siguiendo`) Siguiendo: #{Usuario.Siguiendo ? Usuario.Siguiendo.length : 0}
        //-resto del perfil
        if Usuario.birthDate
            p Cumpleaños: #{Usuario.birthDate}
        if !Usuario 
            h1 No se encontro el usuario
    //-Publicaciones del propio perfil
    div
        if Usuario.Publicaciones
            each post in Usuario.Publicaciones 
                div.publicacion
                    h2 #{post.titulo} 
                    h3 #{post.contenido}
                    if post.Imagens
                        each imagen in post.Imagens
                            img(src=`${imagen.metadata},${imagen.contenido.toString('base64')}` style="width:300px")
                    div.etiqueta
                        if post.Etiqueta
                            each etiqueta in post.Etiqueta
                                span.etiqueta #{etiqueta.etiqueta}  
                    //-Autor
                    a(href=`/usuario/${post.Autor.username}`) Creado por: #{post.Autor.firstName || post.Autor.username}             
                    //-a Me gusta Publicacion
                    a(href=`/publicacion/${post.idPublicacion}`) Comentarios (#{post.Comentarios ? post.Comentarios.length : 0})